@import '../variables';

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-flex;
    align-items: center;
    position: relative;
    justify-content: center;
    transition: all 0.2s linear;

    &__label {
        line-height: 1;
        white-space: nowrap;
    }

    &__icon {
        flex-shrink: 0;
    }

    &--primary {
        background-color: $primary;

        &:hover {
            background-color: #6a62ff;
        }
    
        &:active {
            background-color: #2f27cc;
        }

        .btn__label {
            color: #ffffff;
        }

        .btn__icon {
            width: 18px;
            height: 18px;
            color: #ffffff;
        }
    }

    &--rounded {
        border-radius: 30px;

        .btn__icon {
            width: 20px;
            height: 20px;
        }
    }

    &--ghost {
        background-color: rgba(80, 72, 229, 0.1);

        &:hover {
            background-color: rgba(80, 72, 229, 0.2);
        }
    
        &:active {
            background-color: rgba(80, 72, 229, 0.3);
        }
    }

    &:active {
        opacity: 0.7;
    }
}