.dropdown {
    position: relative;

    &__placeholder {
        gap: 0 10px;
        display: flex;
        padding: 8px;
        cursor: pointer;
        user-select: none;
        border-radius: 5px;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    }

    &__icon {
        width: 22px;
        height: 22px;
        display: inline-flex;
        align-items: center;
    }

    &__options {
        display: flex;
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        z-index: 1;
        max-width: 300%;
        min-width: 100%;
        overflow: hidden;
        border-radius: 5px;
        flex-direction: column;
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: all 0.15s linear, opacity 0.1s linear;
    }

    &__option {
        &:hover {
            background-color: #f2f2f2;
        }
    }

    &--button {
        .dropdown__option {
            padding: 8px;
            cursor: pointer;
        }
    }

    &--dropped {
        .dropdown__options {
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
        }
    }
}