.header {
    width: 100%;
    z-index: 5;
    top: 0;
    padding: 15px;
    position: fixed;
    background-color: #ffffff;

    &__inner {
        display: flex;
        align-items: center;
    }
}