.modal-content {
    width: 100%;
    border: none;
    display: flex;
    padding: 30px 20px;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    transition: all 0.2s linear;

    &__body {
        margin: 0;
        width: 100%;
        max-width: 90%;
    }
}