.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 100%;
    border: none;
    max-width: 40%;
    padding: 30px 20px;
    border-radius: 5px;
    background-color: #ffffff;
}

@media (min-width: 1440px) {
    .modal-content {
        max-width: 30%;
    }
}

@media (max-width: 768px) {
    .modal-content {
        max-width: 70%;
    }
}

@media (max-width: 575px) {
    .modal-content {
        max-width: 95%;
    }
}