* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#__nuxt, .wrapper {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 0 auto;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}