.logo {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #4d4d4d;
}

.section {
    margin: 25px 0;

    &__title {
        font-size: 24px;
        font-weight: 500;
    }

    &__subtitle {
        font-size: 17px;
        color: #a3a3a3;
    }
}

.tm-container {
    max-width: 1440px;
}

.spoiler-block {
    bottom: -10px;
    width: 100%;
    height: 400px;
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgb(255, 255, 255));
}

.intro {
    gap: 0px 50px;
    display: flex;
    padding: 25px 0;
    overflow: hidden;
    position: relative;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 20px;
    justify-content: center;
    background-color: #f8fafc;

    &::before {
        content: '';
        display: inline-block;
        min-width: 200px;
        min-height: 200px;
        border-radius: 50%;
        position: absolute;
        top: -15%;
        left: -5%;
        background-color: rgba(78, 70, 229, 0.85);
    }

    &::after {
        content: '';
        display: inline-block;
        min-width: 200px;
        min-height: 200px;
        border-radius: 20px;
        position: absolute;
        bottom: -15%;
        right: -5%;
        background-color: #c084fc;
    }

    &__title {
        line-height: 1.1;
        font-size: 28px;
        font-weight: 500;
    }

    &__text {
        font-size: 18px;
    }

    &__img {
        max-width: 25%;
    }

    &__info {
        max-width: 40%;
    }
}

.swiper-navigation {

    &__prev,
    &__next {
        top: 50%;
        z-index: 1;
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transform: translateY(-50%);
        position: absolute;
        background-color: #4f46e5;
        transition: opacity 0.2s linear, filter 0.2s linear;

        .icon {
            width: 20px;
            height: 20px;
            color: #ffffff;
        }

        &.swiper-button-disabled {
            opacity: 0.2;
            filter: grayscale(1);
        }
    }

    &__prev {
        left: 0;
    }

    &__next {
        right: 0;
    }
}

.signin-option {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: #f1f5f9;

    .icon {
        width: 25px;
        height: 25px;
    }
}

.bg-primary {
    background-color: #4f46e5;
}

.v-popper--theme-tooltip {
    .v-popper__inner {
        font-size: 12px;
    }
}

.nuxt-loading-indicator {
    top: 76px !important;
}

@media (max-width: 1440px) {
    .tm-container {
        padding: 0 15px;
    }
}

@media (max-width: 1100px) {
    .intro {
        &::before {
            top: -25%;
            left: -10%;
        }

        &::after {
            bottom: -25%;
            right: -10%;
        }

        &__info {
            max-width: 50%;
        }
    }
}

@media (max-width: 1025px) {
    .swiper-navigation {
        &__prev {
            left: 20px;
        }

        &__next {
            right: 20px;
        }
    }
}

@media (max-width: 992px) {
    .intro {
        &::before {
            top: -30%;
            left: -15%;
        }

        &::after {
            bottom: -30%;
            right: -15%;
        }

        &__img {
            max-width: 30%;
        }
    }
}

@media (max-width: 768px) {
    .intro {
        padding: 20px;
        flex-direction: column-reverse;

        &__info {
            max-width: 100%;
        }

        &__img {
            max-width: 50%;
        }
    }
}

@media (max-width: 575px) {
    .intro {
        gap: 20px 0;

        &::before {
            top: -22%;
            left: -26%;
        }

        &::after {
            display: none;
        }

        &__title {
            font-size: 20px;
        }

        &__text {
            font-size: 16px;
        }
    }

    .section {
        &__title {
            font-size: 20px;
        }
    }

    .swiper-navigation {
        gap: 0 15px;
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;

        &__prev,
        &__next {
            position: static;
            transform: translateY(0);
        }
    }

    .nuxt-loading-indicator {
        top: 51px !important;
    }
}