.logo {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #4d4d4d;
}

.section {
    margin: 25px 0;

    &__title {
        font-size: 24px;
        font-weight: 500;
    }

    &__subtitle {
        font-size: 17px;
        color: #a3a3a3;
    }
}

.tm-container {
    max-width: 1440px;
}

@media (max-width: 1440px) {
    .tm-container {
        padding: 0 15px;
    }
}