.task {
    &__images {
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

        .swiper-slide {
            height: auto;
            display: flex;
            justify-content: center;
        }
    }

    &__header {
        margin: 0 auto;
        max-width: 750px;
        margin-bottom: 20px;
    }

    &__content {
        margin: 0 auto;
        max-width: 750px;
    }
}

.task-image-gallery {
    margin: 0 auto;
    max-width: 750px;
    position: relative;

    .swiper-navigation {
        &__prev {
            left: 15px;
        }

        &__next {
            right: 15px;
        }
    }
}

.task-image {
    display: flex;
    padding: 5px;
    min-height: 400px;
    max-height: 400px;
    align-items: flex-start;
    justify-content: center;

    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #d6dee1;
        border: 3px solid transparent;
        background-clip: content-box;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #cdcdcd;
    }

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

.task-description {
    a {
        color: #4f46e5 !important;
    }
}

@media (max-width: 1025px) {
    .task {
        &__images {
            max-width: unset;
        }
    }
}

@media (max-width: 768px) {
    .task-image {
        max-height: 425px;
        min-height: 425px;
    }

    .task-image-gallery {
        max-width: unset;
    }

    .task {
        &__images {
            .swiper-slide {
                height: 100%;
            }
        }
    }
}

@media (max-width: 575px) {
    .task {
        &__header {
            flex-direction: column;
        }

        &__images {
            // height: 300px;

            .swiper-slide {
                height: auto;
                align-items: flex-start;
            }
        }
    }

    .task-image {
        max-height: 280px;
        min-height: 280px;
    }
}